@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";


html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  //@media screen and (max-width: $desktopWidth) {
  //  font-size: 16px;
  //}
  //@media screen and (max-width: $tableWidth) {
  //  font-size: 15px;
  //}
  //@media screen and (max-width: $phoneWidth) {
  //  font-size: 14px;
  //}
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;

  //@media screen and (max-width: $smDesktopWidth) {
  //  padding: 36px 0;
  //}
  //@media screen and (max-width: $tableWidth) {
  //  padding: 28px 0;
  //}
  //@media screen and (max-width: $phoneWidth) {
  //  padding: 20px 0;
  //}
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

//--------------------------------------------

.invitation__text {
  font-size: 80px;
}

.about-company__title {
  font-size: 38px;
}

.slider__text,
.contacts-section__title,
.form-section__title,
.menu__link,
.callback-form__title {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 38px;
  line-height: 0.86;
  color: #FFFFFF;
}

.advantage__text,
.news-block__title,
.insurance-types__link {
  font-size: 24px;
}

.company-description__text,
.news__anons,
.contacts-section__tel,
.form__input,
.footer-insurance__link,
.slider-main__counter,
.slider-news__counter {
  font-size: 16px;
}

.header-nav__link,
.advantage__title,
.contacts-section__mail {
  font-size: 12px;
}

.menu-right__menu,
.menu-fixed__menu,
.insurance-types,
.slider__number,
.slider__link,
.more-details__link,
.news__date,
.btn-submit,
.footer-nav__link,
.footer-inf__tel-link {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 12px;
  line-height: 1.64;
  text-transform: uppercase;
}

.advantage__title,
.about-company__title,
.news-block__title,
.contacts-section__mail {
  text-transform: uppercase;
}


.main-block {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  padding: 0 4.9% 16vh 4.9%;
  background-image: url(../img/main_img/bg_main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 16vh;
  display: flex;
  align-items: center;

  &-nav {

    .header-nav__menu {
      display: flex;

      .header-nav__item {
        margin-right: 32px;
        white-space: nowrap;

        &:last-child {
          margin-right: 0;
        }

        .header-nav__link {
          line-height: 1.64;
          text-transform: uppercase;
          color: #FFFFFF;
          border-bottom: 1px solid #FFFFFF;
          padding-bottom: 1px;
        }
      }
    }
  }

  .header-logo {
    margin-left: 19.3%;
    width: 100%;
  }
}

.header-logo__mobile {
  display: none;
}

.invitation {
  padding-left: 1.4%;
  padding-top: 120px;

  &__text {
    font-family: "Marianna", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 0.77;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(17, 18, 19, 0.2);
  }
}

.advantage {
  display: flex;
  justify-content: space-between;
  padding-left: 0.8%;
  padding-right: 1.5%;

  &__item {

    .advantage__top-line {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .advantage__icon {
        margin-right: 26px;
      }

      .advantage__title {
        line-height: 1.64;
        color: #DBC493;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: -15px;
          top:-3px;
          width: 1px;
          height:32px;
          background:#DBC493;
          transform:rotate(15deg);
        }
      }
    }

    .advantage__description {

      .advantage__text {
        line-height: 1.125;
        color: #FFFFFF;
        text-shadow: 0 0 10px rgba(8, 59, 87, 0.4);

        &:first-child {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.slider-advantage {
  display: none;
}

.advantage-dots {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 7px;
  display: none;
  justify-content: center;

  .advantage-dots__item {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.7;
    background-color: transparent;
    padding: 0 7px;
    cursor: pointer;
    -moz-osx-font-smoothing: unset;  //не нвдо
    -webkit-font-smoothing: unset;    //не нвдо

    transition: color .3s ease .1s, font-size .3s ease .1s;

    &.active {
      font-size: 25px;
      line-height: 29px;
      opacity: 1;
    }
  }
}

.about-company-block {
  padding: 95px 4.9% 46px;

  .about-company__title {
    padding-left: 11.3%;
    line-height: 1.09;
    color: #222222;
  }

  .company__description {
    padding: 50px 0 90px 13.1%;
    display: flex;

    .company-description__column {

      &:first-child {
        margin-right: 11%;
      }

      .company-description__text {
        line-height: 1.59;
        color: #222222;
        margin-bottom: 36px;
      }
    }
  }

  .insurance-types {
    padding-left: 80px;
    color: #222222;
  }
}

.slider-main__wrapper-block {

  .slider-main__counter {
    position: absolute;
    height: 60px;
    width: 50%;
    left: 0;
    bottom: 0;
    padding-left: 7.5%;
    z-index: 1;
    line-height: 1.69;
    color: #FFFFFF;
    display: none;
    align-items: center;
  }

  .slider-block {
    width: 100%;
    overflow: hidden;

    .owl-nav {
      position: absolute;
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 16.5%;               //240px от 1440
      bottom: 0;
      right: 0;
      z-index: 1;

      .owl-prev {
        background-image: url(/assets/img/main_img/arrow_left.svg);
      }
    }

    .slider-block__item-container {
      width: 100%;
      transition: all .3s ease;   //!!!   //Увеличение слайдера

      &:hover {
        transform: scale(1.05);    //!!!    //Увеличение слайдера

        .slider-block__item {
          padding-top: 28.57%;      //!!!    //Уменьшение элементов
          padding-left: 10.47%;      //!!!    //Уменьшение элементов
        }

        .slider__top-line,
        .slider__benefits {
          transform: scale(.95);     //!!!    //Уменьшение элементов
        }
      }

      .slider-block__item-wrapper {
        padding-top: 195%;            // height 700px от width 360px
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        .slider-block__item {
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding-top: 30%;
          padding-left: 11%;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, .5);
          }

          .slider__item-container {
            position: relative;
            z-index: 2;

            .slider__top-line {
              display: flex;
              padding-bottom: 40px;
              transition: all .6s ease;     //!!!

              .slider__number {
                color: #DBC493;
                margin-right: 28px;
              }

              .slider__link {
                color: #DBC493;
                position: relative;

                &:before {
                  content: '';
                  position: absolute;
                  left: -15px;
                  top:-6px;
                  width: 1px;
                  height:32px;
                  background:#DBC493;
                  transform:rotate(15deg);
                }
              }
            }

            .slider__benefits {
              transition: all .6s ease;       //!!!

              .slider__text {
                text-shadow: 0 0 10px rgba(8, 59, 87, 0.4);
                margin-bottom: 5px;
                position: relative;

                .benefits__dash {
                  display: inline-block;
                  width: 32px;
                  height: 3px;
                  background-color: #FFFFFF;
                  position: absolute;
                  left: 41.5%;
                  top: 55%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.owl{
  &-stage-outer{
    overflow: hidden;
  }
  &-stage{
    display: flex;
    align-items: flex-start;
  }
}

.owl-nav button {
  width: 20px;
  height: 5px;
  background-image: url(/assets/img/main_img/arrow_right.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.disabled,
.owl-nav button span {
  display: none;
}


.news-block {
  padding: 105px 4.9% 180px 10.8%;

  .slider-news__counter {
    position: absolute;
    height: 140px;
    width: 50%;
    left: 0;
    bottom: 0;
    padding-left: 7.5%;
    z-index: 1;
    line-height: 1.59;
    color: #333333;
    display: none;
    align-items: center;
  }

  .news-block__title {
    line-height: 86%;
    color: #828282;
    padding-bottom: 60px;
  }

  .news {
    align-items: flex-start;
    padding-left: 2.1%;

    .owl-stage{
      display: flex;
      flex-wrap: wrap;

      .owl-item {
        width: 50%!important;
      }
    }

    .news__item {
      margin-bottom: 40px;

      &:nth-child(odd) {
        margin-right: 15.1%;
      }

      .news__date {
        color: #333333;
        margin-bottom: 5px;
      }

      .news__anons {
        line-height: 159%;
        color: #333333;
        margin-bottom: 11px;
      }

      .more-details {
        display: flex;
        align-items: center;

        &__link {
          color: #828282;
          margin-right: 13px;
        }

        &__line {
          width: 40px;
          height: 1px;
          background-color: #828282;
        }
      }
    }
  }
}


.contacts-block {
  width: 100%;
  height: 700px ;
  background: #16345F;
}

.contacts-section {
  position: absolute;
  width: 44.5%;
  height: 92.4%;
  left: 5.6%;
  top: -15%;
  background-image: url(../img/main_img/bg_cont.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  &__title {
    padding: 195px 0 35px 12.5%;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-left: 16.4%;
    padding-bottom: 20px;


    .contacts-section__icon {
      margin-right: 5.6%;
    }

    .contacts-section__tel {
      line-height: 1.59;
      color: #FFFFFF;
    }

    .contacts-section__mail {
      color: #FFFFFF;
      text-decoration-line: underline;
      white-space: nowrap;
    }
  }
}

.form-section {
  position: absolute;
  width: 39.9%;
  height: 93.6%;
  left: 47.2%;
  top: 15.7%;
  border: 1px solid #DBC493;

  .form-section__title {
    padding: 60px 0 65px 14%;
  }
}

.form {
  padding: 0 13% 0 14%;

  &__elem {
    padding-left: 4.8%;
    border-bottom: 1px solid #DBC493;
    margin-bottom: 30px;

    .form__input {
      line-height: 159%;
      color: #BDBDBD;
      background-color: transparent;
    }

    .form__icon {
      margin-right: 5.5%;
    }
  }

  .btn-submit {
    padding: 0 9.5%;
    height: 40px;
    background: linear-gradient(94.99deg, #B19973 0.11%, #F0E4AD 51.41%);
    color: #222222;
    text-align: center;
    margin-top: 22px;
  }
}

.footer {
  padding: 175px 4.9% 150px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;

    .footer__inf {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .footer-inf__top-line {
        display: flex;
        margin-bottom: 30px;

        .footer-nav {

          &__menu {
            display: flex;

            .footer-nav__item {
              margin-right: 17px;

              &:nth-child(4) {
                margin-right: 0;
              }

              .footer-nav__link {
                color: #16345F;
              }
            }

            .footer-inf__tel {
              margin: 0 40px;

              &-link {
                color: #16345F;
                margin-left: 19px;
              }
            }
          }
        }

        .footer-inf__soc-network {

          .soc-network__elem {
            margin-right: 14px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
    }

      .footer-inf__insurance {
        display: flex;

        .footer-insurance__link {
          margin-right: 27px;
          line-height: 1.6;
          color: #16345F;
          border-bottom: 1px solid #16345F;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .footer__text {
    font-size: 10px;
    line-height: 160%;
    color: #828282;

  }
}

.menu-right {
  position: fixed;
  right: 5.6%;   //80px
  top: 6.8vh;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &__burger {
    width: 20px;
    height: 20px;
    background-image: url(/assets/img/main_img/burger_black.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 26px;
  }
}

.menu-right_white {
  transition: all .3s ease;

  .menu-right__menu {
    color: #FFFFFF;
  }

  .menu-right__burger {
    background-image: url(/assets/img/main_img/burger_white.svg);
  }
}

.menu-fixed {
  position: fixed;
  max-width: 100%;
  width: 100%;
  min-height: 40px;
  top: 0;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0 0 4px rgba(21, 10, 8, 0.25);
  padding-right: 5.5%;
  display: none;
  justify-content: flex-end;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &__burger {
    width: 20px;
    height: 20px;
    background-image: url(/assets/img/main_img/burger_black.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 3.3%;
  }
}

.dropdown-menu {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  padding: 5.1vh 5.5% 0;
  background-color: #16345F;
  position: fixed;
  top: 0;
  left: -99999px;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity .5s ease, transform 0s ease .5s;
  z-index: 11;

  &__wrapper {
    position: relative;

    .dropdown-menu__top-line {
      width: 100%;
      height: 67px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      .menu-toggle {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .dropdown-menu__content {
      width: 100%;
      display: flex;
      justify-content: center;

      .dropdown-menu__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .menu__item {
          margin-bottom: 10px;

          .menu__link {
            color: #BDBDBD;
          }
        }
      }
    }

    .dropdown-menu__contacts-line {
      max-width: 100%;
      position: fixed;
      left: 5.5%;
      right: 5.5%;
      top: 75%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .dropdown-menu__contacts {

        .contacts-section__item_menu {
          padding-left: 0;

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      .dropdown-menu__soc-network {

        .menu__soc-network {

          .soc-network__elem {
            margin-right: 15px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

.dropdown-menu_visible {
  transform: translateX(0);
  left: 0;
  opacity: 1;
  transition: opacity .5s ease;
}

  .insurance-types__menu {
    padding: 16px 0 0 105px;

    .insurance-types__item {
      position: relative;

      &:before {
        position: absolute;
        content: "";
        top: 50%;
        left: -90px;
        width: 60px;
        height: 2px;
        background-color: #BDBDBD;
        opacity: 0;
        //transition: all .4s ease;
        transition: background 2s ease 1.5s;
      }

      &:hover::before {
        opacity: 1;
      }

      .insurance-types__link {
        line-height: 1.6;
        text-transform: uppercase;
        color: #BDBDBD;

        &:hover {
          color: #FFFFFF;
        }
      }
    }
  }


.callback-form {
  width: 45.5%;
  height: 100vh;
  background-color: #16345F;
  padding: 8.5vh 3.8% 25vh 3.8% ;
  position: fixed;
  top:0;
  right: -9999px;
  z-index: 20;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;

  &__top-line {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 110px;
  }

  .form-section__title {
    margin-bottom: 50px;
  }
}

.callback-form_visible {
  transform: translateX(0);
  right: 0;
}

.form_callback {
  width: 100%;
  padding: 0;
}


.callback-sign {
  position: fixed;
  right: 4.5%;          //65px
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .callback__description {
    margin-bottom: 7px;
    color: #DBC493;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.64;
    text-transform: uppercase;
    z-index: 10;
  }

  .callback__button {
    display: block;
    position: relative;
    @include size(61px);
    border-radius: 50%;
    background: linear-gradient(91.67deg, #B19973 0.11%, #F0E4AD 51.41%);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%);
      background-image: url(/assets/img/main_img/phone_icon.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: center;
    }
  }
}






@import "media";
// Modules:
// example: @import "modules/my-module.scss";
